/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    background-color: pink;
    overflow-y: scroll;
}

main {
    min-height: 20em;
    overflow: auto;
    padding: 1em;
}

body {
    margin: 8px auto;
    padding: 8px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    font-family: calibri, "sans-serif";
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    list-style: none;
}

figure.figure.right {
    float: right;
}

figure.figure.left {
    float: left;
}

figcaption {
    font-style: italic;
    font-size: small;
}

.wrap-all {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
}

.site-logo {
    display: none;
}

.region-header-col-1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.region-header-col-1 a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: hotpink;
}

.region-flash img {
    max-width: 700px;
}

.footer-column {
    width: 33%;
    float: left;
}

.region-footer {
    margin-top: 50px;
    text-align: center;
    border-top: 1px grey solid;
}

.region-footer a {
    text-decoration: none;
    color: hotpink;
}

.my-navbar {
    text-align: center;
    padding: 1em;
    background-color: pink;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: sans-serif;
}

.my-navbar a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000;
}

.my-navbar a:link {
    color: black;
}

.my-navbar a:hover {
    background-color: #fff;
    text-decoration: underline;
}

.my-navbar a:active {
    color: #fff;
}

.my-navbar .selected {
    background-color: #fff;
    font-weight: bold;
}

.my-navbar li {
    list-style-type: none;
    display: inline-block;
}

.author-byline {
    margin-top: 5em;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    background-color: white;
    height: 175px;
}

.author-byline a {
    text-decoration: underline;
    color: hotpink;
}

.region-sidebar-left {
    float: left;
    border-right: 1px black solid;
    padding-right: 20px;
}

.wrap-sidebar a {
    color: hotpink;
}

.region-breadcrumb a {
    color: hotpink;
}

.next-previous a {
    color: hotpink;
}
